<!DOCTYPE html>
<html>
  <head>
    <title>LooseLeaf Tea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="LooseLeaf Tea">
    <meta property="og:image" content="https://i.imgur.com/qaFE57U.png">
    <meta 
      property="og:description" 
      content="E-commerce site clone of local Burlingame, CA based tea company/cafe, Leland Tea.">
    <meta property="og:url" content="https://looseleaf-tea.herokuapp.com/#/">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
